node_modules/

# tool directories
.idea/
.github/

# development directories
tests/
coverage/
dist/cjs/tests/
dist/esm/tests/

# config files
.eslintrc.json
.gitignore
.travis.yml
vitest.config.ts
typedoc.json